@{
    ViewBag.Title = "Restaurant Suggestion Received: Thank you!";
}
@model Restaurants.Models.SuggestionResponse;

<div>
    <h2>Your suggestion will be reviewed within two business weeks.</h2>
</div>

<div>
    Click <a asp-action="SuggestionList">Here</a> to see the list of suggestions.
</div>